<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
      
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('build/images/favicon.ico') }}">


        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('menu_slide') }}
        {{ encore_entry_link_tags('font_awesome') }}
        {{ encore_entry_link_tags('header') }}
         {{ encore_entry_link_tags('flexible') }}
         {{ encore_entry_link_tags('animate') }}
        {% endblock %}
        
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </body>
</html>
